@import "./variables.scss";

nav{
  color: $periwinkle;
  padding:1px 20px;
}
.nav-link{
  margin:0 0 1px -20px;
  padding: 10px 20px 10px 10px;
  font-size:1em;
  &:first-child{
    border-left:1px solid rgba(255,255,255,.3);
  }
}
@media(max-width: 414px){
  .brand{
    margin:10px 0;
    font-size:1.3em;
  }
  nav{
    border-bottom:1px solid #E7E7EC;
  }
}
