@import "./variables.scss";

nav{
  color: $periwinkle;
}
.nav-link{
  margin:5px 0 5px 0px;
  padding: 5px 0 5px 10px;
  font-size:1em;
  border-left:1px solid transparent;
  &.active{
    border-left:2px solid rgba(255,255,255,.3);
  }
}
@media(max-width: 414px){
  .brand{
    margin:10px 0;
    font-size:1.3em;
  }
  nav
  .nav-link{
    text-align:right;
    margin:5px 0;
    padding: 5px 10px 5px 0;
    border-right:5px solid transparent;
    &.active{
      border-left:none;
      border-right:5px solid rgba(255,255,255,.3);
    }
  }
}
