.search-box{
  margin-bottom:1em;
  input{
    border:none;
    border-bottom:1px solid rgba(255,255,255,.1);
    background-color:transparent;
    padding:10px 50px 10px 20px;
    outline:none;
    width:100%;
  }
}
